{{!-- src/views/partials/nav-traduction.hbs --}}

<!-- TRADUCTION COMPLET -->
<li class="traduction-dropdown" id="traduction-dropdown">
    <a href="#" class="nav-link traduction-trigger" id="traduction-trigger">Traduction</a>
    <div class="dropdown-overlay"></div>
    <div class="traduction-dropdown-banner">
        <ul class="traduction-dropdown-content">
            <li class="traduction-option" data-option="Acts notariés">
                Acts notariés
                <ul class="sub-acts-list">
                    <li class="sub_acts_list" data-option="Cession-Acquisition">Cession-Acquisition</li>
                    <li class="sub_acts_list" data-option="Testament">Testament</li>
                    <li class="sub_acts_list" data-option="Bail">Bail</li>
                    <li class="sub_acts_list" data-option="Jugement">Jugement</li>
                    <li class="sub_acts_list" data-option="Autre">Autre</li>
                </ul>
            </li>
            <li class="traduction-option" data-option="Extrait d'acte de naissance">Extrait d'acte de naissance</li>
            <li class="traduction-option" data-option="Diplômes">Diplômes</li>
            <li class="traduction-option" data-option="Casier judiciaire">Casier judiciaire</li>
            <li class="traduction-option" data-option="Divers">Divers</li>
            <li class="traduction-separator"></li>
        </ul>
    </div>
</li>