{{!-- src/views/partials/nav-immobilier.hbs --}}


                    <!-- IMMOBILIER COMPLET -->
                    <li class="immobilier-dropdown" id="immobilier-dropdown">
    <a href="#" class="nav-link immobilier-trigger" id="immobilier-trigger">Immobilier</a>
    <div class="dropdown-overlay"></div>
    <div class="immobilier-dropdown-banner">
        <ul class="immobilier-dropdown-content">
            <li class="immobilier-option" data-option="Achat - Vente">
                <a href="/immobilier/achat-vente">Achat - Vente</a>
                <ul class="sub-vente-list">
                    <li class="sub_vente" data-option="Maison">
                        <a href="/immobilier/achat-vente/maison">Maison</a>
                    </li>
                    <li class="sub_vente" data-option="Appartement">
                        <a href="/immobilier/achat-vente/appartement">Appartement</a>
                    </li>
                    <li class="sub_vente" data-option="Villa">
                        <a href="/immobilier/achat-vente/villa">Villa</a>
                    </li>
                    <li class="sub_vente" data-option="Penthouse">
                        <a href="/immobilier/achat-vente/penthouse">Penthouse</a>
                    </li>
                    <li class="sub_vente" data-option="Bureaux">
                        <a href="/immobilier/achat-vente/bureaux">Bureaux</a>
                    </li>
                    <li class="sub_vente" data-option="Local commercial">
                        <a href="/immobilier/achat-vente/local-commercial">Local commercial</a>
                    </li>
                    <li class="sub_vente" data-option="Fond de commerce">
                        <a href="/immobilier/achat-vente/fond-commerce">Fond de commerce</a>
                    </li>
                </ul>
            </li>
            <li class="immobilier-option" data-option="Location">
                <a href="/immobilier/location">Location</a>
                <ul class="sub-location-list">
                    <li class="sub_location" data-option="Maison">
                        <a href="/immobilier/location/maison">Maison</a>
                    </li>
                    <li class="sub_location" data-option="Appartement">
                        <a href="/immobilier/location/appartement">Appartement</a>
                    </li>
                    <li class="sub_location" data-option="Villa">
                        <a href="/immobilier/location/villa">Villa</a>
                    </li>
                    <li class="sub_location" data-option="Penthouse">
                        <a href="/immobilier/location/penthouse">Penthouse</a>
                    </li>
                    <li class="sub_location" data-option="Bureaux">
                        <a href="/immobilier/location/bureaux">Bureaux</a>
                    </li>
                    <li class="sub_location" data-option="Local commercial">
                        <a href="/immobilier/location/local-commercial">Local commercial</a>
                    </li>
                    <li class="sub_location" data-option="Fond de commerce">
                        <a href="/immobilier/location/fond-commerce">Fond de commerce</a>
                    </li>
                </ul>
            </li>
            <li class="immobilier-option" data-option="Terrain">
                <a href="/immobilier/terrain">Terrain</a>
                <ul class="sub-terrain-list">
                    <li class="sub_terrain" data-option="Bord de mer">
                        <a href="/immobilier/terrain/bord-mer">Bord de mer</a>
                    </li>
                    <li class="sub_terrain" data-option="Avec Verger">
                        <a href="/immobilier/terrain/verger">Avec Verger</a>
                    </li>
                    <li class="sub_terrain" data-option="Sans importance">
                        <a href="/immobilier/terrain/sans-importance">Sans importance</a>
                    </li>
                    <li class="sub_terrain" data-option="Constructible">
                        <a href="/immobilier/terrain/constructible">Constructible</a>
                    </li>
                    <li class="sub_terrain" data-option="Agricole">
                        <a href="/immobilier/terrain/agricole">Agricole</a>
                    </li>
                    <li class="sub_terrain" data-option="Forestier">
                        <a href="/immobilier/terrain/forestier">Forestier</a>
                    </li>
                    <li class="sub_terrain" data-option="Viticole">
                        <a href="/immobilier/terrain/viticole">Viticole</a>
                    </li>
                </ul>
            </li>
            <li class="immobilier-option" data-option="Entrepôt">
                <a href="/immobilier/entrepot">Entrepôt</a>
            </li>
            <li class="immobilier-option" data-option="Hangard">
                <a href="/immobilier/hangard">Hangard</a>
            </li>
            <li class="immobilier-separator"></li>
        </ul>
    </div>
</li>