{{!-- src/views/partials/nav-traduction.hbs --}}

<!-- TRADUCTION COMPLET -->
<li class="traduction-dropdown" id="traduction-dropdown">
    <a href="#" class="nav-link traduction-trigger" id="traduction-trigger">Traduction</a>
    <div class="dropdown-overlay"></div>
    <div class="traduction-dropdown-banner">
        <ul class="traduction-dropdown-content">
            <li class="traduction-option" data-option="Acts notariés">
                <a href="/traduction/acts-notaries">Acts notariés</a>
                <ul class="sub-acts-list">
                    <li class="sub_acts_list" data-option="Cession-Acquisition">
                        <a href="/traduction/acts-notaries/cession-acquisition">Cession-Acquisition</a>
                    </li>
                    <li class="sub_acts_list" data-option="Testament">
                        <a href="/traduction/acts-notaries/testament">Testament</a>
                    </li>
                    <li class="sub_acts_list" data-option="Bail">
                        <a href="/traduction/acts-notaries/bail">Bail</a>
                    </li>
                    <li class="sub_acts_list" data-option="Jugement">
                        <a href="/traduction/acts-notaries/jugement">Jugement</a>
                    </li>
                    <li class="sub_acts_list" data-option="Autre">
                        <a href="/traduction/acts-notaries/autre">Autre</a>
                    </li>
                </ul>
            </li>
            <li class="traduction-option" data-option="Extrait d'acte de naissance">
                <a href="/traduction/acte-naissance">Extrait d'acte de naissance</a>
            </li>
            <li class="traduction-option" data-option="Diplômes">
                <a href="/traduction/diplomes">Diplômes</a>
            </li>
            <li class="traduction-option" data-option="Casier judiciaire">
                <a href="/traduction/casier-judiciaire">Casier judiciaire</a>
            </li>
            <li class="traduction-option" data-option="Divers">
                <a href="/traduction/divers">Divers</a>
            </li>
            <li class="traduction-separator"></li>
        </ul>
    </div>
</li>