{{!-- src/views/partials/nav-immobilier.hbs --}}


                    <!-- IMMOBILIER COMPLET -->
                    <li class="immobilier-dropdown" id="immobilier-dropdown">
    <a href="#" class="nav-link immobilier-trigger" id="immobilier-trigger">Immobilier</a>
    <div class="dropdown-overlay"></div>
    <div class="immobilier-dropdown-banner">
        <ul class="immobilier-dropdown-content">
            <li class="immobilier-option" data-option="Achat - Vente">
                Achat - Vente
                <ul class="sub-vente-list">
                    <li class="sub_vente" data-option="Maison">Maison</li>
                    <li class="sub_vente" data-option="Appartement">Appartement</li>
                    <li class="sub_vente" data-option="Villa">Villa</li>
                    <li class="sub_vente" data-option="Penthouse">Penthouse</li>
                    <li class="sub_vente" data-option="Bureaux">Bureaux</li>
                    <li class="sub_vente" data-option="Local commercial">Local commercial</li>
                    <li class="sub_vente" data-option="Fond de commerce">Fond de commerce</li>
                </ul>
            </li>
            <li class="immobilier-option" data-option="Location">
                Location
                <ul class="sub-location-list">
                    <li class="sub_location" data-option="Maison">Maison</li>
                    <li class="sub_location" data-option="Appartement">Appartement</li>
                    <li class="sub_location" data-option="Villa">Villa</li>
                    <li class="sub_location" data-option="Penthouse">Penthouse</li>
                    <li class="sub_location" data-option="Bureaux">Bureaux</li>
                    <li class="sub_location" data-option="Local commercial">Local commercial</li>
                    <li class="sub_location" data-option="Fond de commerce">Fond de commerce</li>
                </ul>
            </li>
            <li class="immobilier-option" data-option="Terrain">
                Terrain
                <ul class="sub-terrain-list">
                    <li class="sub_terrain" data-option="Bord de mer">Bord de mer</li>
                    <li class="sub_terrain" data-option="Avec Verger">Avec Verger</li>
                    <li class="sub_terrain" data-option="Sans importance">Sans importance</li>
                    <li class="sub_terrain" data-option="Constructible">Constructible</li>
                    <li class="sub_terrain" data-option="Agricole">Agricole</li>
                    <li class="sub_terrain" data-option="Forestier">Forestier</li>
                    <li class="sub_terrain" data-option="Viticole">Viticole</li>
                </ul>
            </li>
            <li class="immobilier-option" data-option="Entrepôt">Entrepôt</li>
            <li class="immobilier-option" data-option="Hangard">Hangard</li>
            <li class="immobilier-separator"></li>
        </ul>
    </div>
</li>