{{!-- src/views/partials/nav-entreprendre.hbs --}}

<li class="entreprendre-dropdown" id="entreprendre-dropdown">
    <a href="#" class="nav-link entreprendre-trigger" id="entreprendre-trigger">Entreprendre</a>
    <div class="dropdown-overlay"></div>
    <div class="entreprendre-dropdown-banner">
        <ul class="entreprendre-dropdown-content">
            <li class="entreprendre-option" data-option="Analyse de marché">Analyse de marché</li>
            <li class="entreprendre-option" data-option="Réaliser un business plan">Réaliser un business plan</li>
            <li class="entreprendre-option" data-option="Sourcing">
                Sourcing
                <ul class="sub-sourcing-list">
                    <li class="sub_sourcing" data-option="Produits">Produits</li>
                    <li class="sub_sourcing" data-option="Fournisseurs">Fournisseurs</li>
                    <li class="sub_sourcing" data-option="Matières premières">Matières premières</li>
                    <li class="sub_sourcing" data-option="Équipements">Équipements</li>
                    <li class="sub_sourcing" data-option="Services">Services</li>
                </ul>
            </li>
            <li class="entreprendre-option" data-option="Trouver un local commercial">Trouver un local commercial</li>
            <li class="entreprendre-option" data-option="Trouver des bureaux">Trouver des bureaux</li>
            <li class="entreprendre-option" data-option="Trouver un recruteur">Trouver un recruteur</li>
            <li class="entreprendre-option" data-option="Trouver un professionnel">Trouver un professionnel</li>
            <li class="entreprendre-separator"></li>
        </ul>
    </div>
</li>