{{!-- src/views/partials/nav-entreprendre.hbs --}}

<li class="entreprendre-dropdown" id="entreprendre-dropdown">
    <a href="#" class="nav-link entreprendre-trigger" id="entreprendre-trigger">Entreprendre</a>
    <div class="dropdown-overlay"></div>
    <div class="entreprendre-dropdown-banner">
        <ul class="entreprendre-dropdown-content">
            <li class="entreprendre-option" data-option="Analyse de marché">
                <a href="/entreprendre/analyse-marche">Analyse de marché</a>
            </li>
            <li class="entreprendre-option" data-option="Réaliser un business plan">
                <a href="/entreprendre/business-plan">Réaliser un business plan</a>
            </li>
            <li class="entreprendre-option" data-option="Sourcing">
                <a href="/entreprendre/sourcing">Sourcing</a>
                <ul class="sub-sourcing-list">
                    <li class="sub_sourcing" data-option="Produits">
                        <a href="/entreprendre/sourcing/produits">Produits</a>
                    </li>
                    <li class="sub_sourcing" data-option="Fournisseurs">
                        <a href="/entreprendre/sourcing/fournisseurs">Fournisseurs</a>
                    </li>
                    <li class="sub_sourcing" data-option="Matières premières">
                        <a href="/entreprendre/sourcing/matieres-premieres">Matières premières</a>
                    </li>
                    <li class="sub_sourcing" data-option="Équipements">
                        <a href="/entreprendre/sourcing/equipements">Équipements</a>
                    </li>
                    <li class="sub_sourcing" data-option="Services">
                        <a href="/entreprendre/sourcing/services">Services</a>
                    </li>
                </ul>
            </li>
            <li class="entreprendre-option" data-option="Trouver un local commercial">
                <a href="/entreprendre/local-commercial">Trouver un local commercial</a>
            </li>
            <li class="entreprendre-option" data-option="Trouver des bureaux">
                <a href="/entreprendre/bureaux">Trouver des bureaux</a>
            </li>
            <li class="entreprendre-option" data-option="Trouver un recruteur">
                <a href="/entreprendre/recruteur">Trouver un recruteur</a>
            </li>
            <li class="entreprendre-option" data-option="Trouver un professionnel">
                <a href="/entreprendre/professionnel">Trouver un professionnel</a>
            </li>
            <li class="entreprendre-separator"></li>
        </ul>
    </div>
</li>